.sidebar{
    margin-bottom: 15px;
    max-height: 112px;
    /* overflow: hidden; */
    /* transition: ; */

    background: coral;
    border: 1px solid slateblue;
    border-radius: 20px;
    padding: 15px;
    /* box-shadow: ; */
}



.sidebar-info{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.avatar-box{
    background-color:blue;
    border-radius: 20px;
}

.info-content .name{
    color: white;
    /* font-size: ; */
    font-weight: 500;
    letter-spacing: -0.25px;
    margin-bottom: 10px;
}

.info-content .title{
    color: whitesmoke;
    background: black;
    /* font-size: ; */
    width: max-content;
    padding: 3px 12px;
    border-radius: 8px;
}

.info_more-btn{
    position: absolute;
    top: -15px;
    right: -15px;
    border-radius: 0 15px;
    font-size: 13px;
    color: orangered;
    background-color: gray;
    padding: 10px;
    /* box-shadow: ; */
    /* transition: ; */
    z-index: 1;
}

.info_more-btn::before{
    content: '';
    position: absolute;
    inset: 1px;
    border-radius: inherit;
    background-color: aqua;
    /* transition: ; */
    z-index: -1;
}

.info_more-btn span{
    display: none;
}

.sidebar-info_more{
    opacity: 0;
    visibility: hidden; 
    /* transition: ;  */
    background: green;
}

.sidebar.active .sidebar-info_more{
    opacity: 1;
    visibility: visible;
}

.sidebar.active{
    max-height: 405px;
}

.separator{
    width: 100%;
    height: 1px;
    background-color: grey;
    margin: 16px 0;
}

.contacts-list{
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.contact-item{
    min-width: 100%;
    display: flex;
    align-items: center;
    gap: 16px
}

.icon-box{
    position: relative;
    background: grey;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: yellow;
    /* box-shadow: ; */
    z-index: 1;
}

.icon-box::before{
    content: '';
    position: inherit;
    inset: 1px;
    background: black;
    border-radius: inherit;
    z-index: -1;
}

.contact-info :is(.contact-link, time, address){
    color: white;
    /* font-size: ; */
}

.social-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding-bottom: 4px;
    padding-left: 7px;
}

.social-item .social-link{
    color: white;
    font-size: 18px;
}