.article-title{
    margin-bottom: 30px;
}

/* Text */

.h2, .h3, .h4, .h5{
    color: white;
    text-transform: capitalize;
}

.h2{
    font-size: 24px;
}

.h3{
    font-size: 18px;
}

.h4{
    font-size: 16px;
}
.h5{
    font-size: 13px;
    font-weight: 500;
}


/* Scroll  */

.has-scrollbar::-webkit-scrollbar {
    width: 5px; /* for vertical scrollbar */
    height: 5px; /* for horizontal scrollbar */
}

.has-scrollbar::-webkit-scrollbar-track {
    background: pink;
    border-radius: 5px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
    background: green;
    border-radius: 5px;
}

.has-scrollbar::-webkit-scrollbar-button {
    width: 20px;
}


