/* Text */

.h3{
    font-size: 18px;
}


/* Scroll  */

.has-scrollbar::-webkit-scrollbar {
    width: 5px; /* for vertical scrollbar */
    height: 5px; /* for horizontal scrollbar */
}

.has-scrollbar::-webkit-scrollbar-track {
    background: pink;
    border-radius: 5px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
    background: green;
    border-radius: 5px;
}

.has-scrollbar::-webkit-scrollbar-button {
    width: 20px;
}


